# Created by https://www.gitignore.io/api/composer

### Composer ###
composer.phar
composer.lock
/vendor/
/bin/

### Temp test data ###
/tests/tmp/

### Temporary ignore packs and modules ###
/public/packs/
/src/modules/
