# Created by https://www.gitignore.io/api/composer

### Composer ###
composer.phar
composer.lock
/vendor/
/bin/
/log/
/tmp/

### Temp test data ###
/tests/data/packs/*.gz

### Temporary ignore packs and modules ###
/public/packs/
/src/modules/
