<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
         
    <php>
        <var name="DB_SQL" value="db_sqlite.sql" />
        <var name="DB_DSN" value="sqlite::memory:" />
        <var name="DB_USER" />
        <var name="DB_PASSWD" />
        <var name="DB_DBNAME" />
    </php>
    
    <testsuites>
        <testsuite name="BALOO Test Suite">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="PackMan Test Suite">
            <directory>./tests/packman</directory>
        </testsuite>
    </testsuites>
    
</phpunit>
