<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./tests/framework/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true">

     <filter>
       <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="false">
         <directory suffix=".php">src/</directory>
       </whitelist>
     </filter>

     <logging>
         <log type="coverage-html" target="tmp/coverage"/>
         <log type="coverage-text" target="php://stdout" showOnlySummary="true"/>
     </logging>

    <php>
        <var name="DB_SQL" value="db_light.sql" />
        <var name="DB_DSN" value="sqlite::memory:" />
        <!--var name="DB_DSN" value="sqlite:./tmp/baloo.db3" /-->
        <var name="DB_USER" />
        <var name="DB_PASSWD" />
        <var name="DB_DBNAME" />
        <var name="PATH_DATA" value="/tests/data/" />
        <var name="PATH_PACKS" value="/tests/data/packs/" />
    </php>

    <testsuites>
        <testsuite name="Baloo">
            <directory>./tests/baloo/</directory>
        </testsuite>
        <testsuite name="Packman">
            <directory>./tests/packman/</directory>
        </testsuite>
    </testsuites>

    <groups>
      <exclude>
        <group>skip</group>
      </exclude>
    </groups>

</phpunit>
